*{
     
    font-family: "Nunito";
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.main-background
{
    background: url(./images/app-link-background.svg);
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

/* NavBar Start */

.nav
{
    width: 100%;
    height: 140px;
    z-index: 10;
}

   
.main-logo img{
    height: 100px;
    width: 200px;
     margin: 0px 100px; 
     background-repeat: no-repeat;
     background-size: contain;
     transform: scale(1.1);
} 

.nav{
       
    position: fixed;
    top: 0;
    width: 100%;
    height: 140px;
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
}

.nav li{
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    list-style-position: inside;
    
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;

}

.nav a:hover{
    color: purple;
    
    
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

.link-nav{
    display: flex;
    margin-left: 1100px;
}

/* NavBar End */


.big-text h1{
 color: white;
 font-family: cursive;
 font-size: 100px;
}

.big-text{
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 40vh;
}

.button3{
    text-align: center;
    margin-top: 10px;
}


.pink-btn button{
    background:#FF5672;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    padding: 20px ;
    border-style: none;
    margin-top: 30px;
}


.OR h3{
text-align: center;
color: white;
margin-top: 15px;
font-size: 40px;
}



.store-logo{
     display: flex; 
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}


#play{
    width: 200px;
    height: 100px ;
}






/* Feature Start */
.features{
    text-align: center;
}

.feature-header{
        color: #424242;
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
}

.feature-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}


.feature-flex{
    display: flex;
    /* flex: auto auto auto; */
    column-gap: 10px;
    height: auto;
    width: auto;
    justify-content: space-evenly;
    align-content:space-evenly;
    align-items: flex-start;
    margin: 100px 50px;
    column-gap: 20px;

}

.img{
        overflow-clip-margin: content-box;
        overflow: clip;
             
    
}



.feature-description
{
    text-align: center;
     text-transform: capitalize;
    margin: 20px 0px 40px 0px;
    font-size: 30px;

}

/* .img3{
    width: 251px;
    height: 359px;
} */

.footer
{
    text-align: center;
    
}

.main{
    display: flex;
    column-gap: 20px;
    align-items: center;
    align-content: space-evenly;
    /* margin: 2px 40px 0px 100px; */

    
}
/* h2:hover{
    color: red;
} */

/* Feature End */

.banner-1{
    background: url(./images/banner-1.webp);
    background-size: cover;
    width: 100%;
    height: 100vh;
    align-content: center;
}

.banner-1 h1{
    color: white;
    font-family: cursive;
    text-align: center;
    align-items: center;
    
    font-size: 100px;
    
    
}

.banner-2{
    background: url(./images/banner-2.webp);
    background-size: cover;
    width: 100%;
    height: 100vh;
}



.banner2-text h1{
    color: white;
 font-family: cursive;
 font-size: 100px;
}

.banner2-text{
 text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 40vh;
}

.banner2-menu{
    margin: 300px auto 100px;
    align-items: center;
    text-align: center;
}

.banner2-menu a{
    color: white;
    text-decoration: none;
}

.banner2-menu button{
    color: white;
    background: transparent;
    border-radius: 50px;
    font-size: 30px;
    padding: 20px;
    border-color: white;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: 1.3px solid white;   
}

.menu-background{
    background: url(./images/banner-menu.webp);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.menu-footer{
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px; 
    text-align: center;
    align-content: center;
    font-weight: 50px;   
}

.menu-images{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding:150px 100px;
    row-gap: 60px;
   
    
   
    /* column-gap: 0px; */
    /* justify-content: space-evenly; */
    
}

.menu-images img:first-of-type{
    height: 250px;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image h1{
    margin-bottom: 10px;
    font-size: 50px;
}


.index-footer{
    background: linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px; 
    text-align: center;
    align-content: center;
    font-weight: 50px;   
}


@media (max-width:576px) {
    *{
        font-size: 20px;
    }

    
}