*{
    margin: 0px;
    padding: 0px;
}

.box{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-color: red;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px -5px;
}

.c1{
background-color: orange;
background:url(https://yt3.googleusercontent.com/ytc/AIdro_mZMPpWqqvJBAb2rU4z3QjuVWa-CpVnq_I2m3Vg2Ws0eA=s160-c-k-c0x00ffffff-no-rj) no-repeat center;

}

.c2{

background-color: white;
background:url(https://yt3.googleusercontent.com/ytc/AIdro_mZMPpWqqvJBAb2rU4z3QjuVWa-CpVnq_I2m3Vg2Ws0eA=s160-c-k-c0x00ffffff-no-rj) no-repeat center;

}

.c3{
    background-color: green;
    background:url(https://yt3.googleusercontent.com/ytc/AIdro_mZMPpWqqvJBAb2rU4z3QjuVWa-CpVnq_I2m3Vg2Ws0eA=s160-c-k-c0x00ffffff-no-rj) no-repeat center;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-items: space-evenly;
    row-gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;
    
}

.c22{
    background-color: white;
}