.container{
    height: 50vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.box
{
    background-color: red;
    height: 100px;
    width: 100px;

}

.box1{
    background-color: yellow;
    align-self: flex-start;
    text-align: center;
    align-content: center;
}


.box3{
    background-color: yellow;
    align-self: flex-start;
    
}


.box5{
    background-color: yellow;
    align-self: flex-start;
}