
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
#abc{
            text-align: center;
            text-decoration: underline black solid 5px;
            color:red;
            background-color: lightblue;
            text-shadow:5px 5px 6px black;
            text-transform: capitalize;
            font-size: 50px;
            letter-spacing: 10px;

            font-family: bitcount grid single;

        }

        p{
            color: blue;
            text-align: justify;
            word-spacing: 10px;
            font-weight: bold;
            font-style: italic;
        }
