#head{
    color: blue;
    text-align: center;
}

.log{
    text-align: center;
}

.input{
    text-align: center;
}

.submit
{
    text-align: center;
    display:block;
    position: center;

}

.main{
    border: 0cap;
    background-color: rgb(209, 181, 181);
    border-s
}

a{
    text-align: center;
    display: block;
}

